<form method="POST" action="/api/carts/{{cart._id}}/purchaser">
    <h2>Carrito</h2>
    <br>
    <div>
        {{#each cart.products}}
            <h2>Producto{{product}}</h2>
            <p>{{quantity}}</p>
        {{/each}}

        <button type="submit">Comprar</button>
    </div>
</form>

